In [49]:
#Assume we need to determine tax payable based on type of income
#This is an exercise in using loops and input()

In [1]:
name = input()

John Smith

In [2]:
business_type = input()

LLC

In [3]:
income = input()

999

In [4]:
#checking types

In [5]:
name_t = type(name)
btype_t = type(business_type)
income_t = type(income)

In [6]:
f"{name_t} {btype_t} {income_t}"

"<class 'str'> <class 'str'> <class 'str'>"

In [7]:
#that's not good - we need income to be float or at least int

In [9]:
income = int(income)
income_t = type(income)
f"{income_t}"

"<class 'int'>"

In [11]:
#Assume LLC companies pay a 15% tax

In [15]:
if business_type == 'LLC':
    tax = income * 0.15
    net_income = income - tax

In [18]:
f'Dear {name}, your tax payable is {tax}, and your net income is {net_income}'

'Dear John Smith, your tax payable is 149.85, and your net income is 849.15'

In [20]:
#that worked! now I'll try a more complex logic
#assume freelancers and sole proprietorships pay a 20% tax
#assume further that everybody else is an employee and pays a 10% tax

In [21]:
if business_type == 'LLC':
    tax = income * 0.15
elif business_type == 'freelance' or business_type == 'sole proprietorship':
    tax = income * 0.2
else:
    tax = income * 0.1
    
net_income = income - tax
f'Dear {name}, your tax payable is {tax}, and your net income is {net_income}'

'Dear John Smith, your tax payable is 149.85, and your net income is 849.15'

In [1]:
#at least I didn't break anything that worked before!
#now I'll redefine the inputs
name = input()

Jack Brown

In [2]:
business_type = input()

freelance

In [5]:
income = int(input())

1000

In [6]:
if business_type == 'LLC':
    tax = income * 0.15
elif business_type == 'freelance' or business_type == 'sole proprietorship':
    tax = income * 0.2
else:
    tax = income * 0.1
    
net_income = income - tax
f'Dear {name}, your tax payable is {tax}, and your net income is {net_income}'

'Dear Jack Brown, your tax payable is 200.0, and your net income is 800.0'

In [7]:
#cool, but copying a bunch of code to run again is a chore
#what if I could make it into a function?

In [23]:
def tax_calc(name, business_type, income):
    if business_type == 'LLC':
        tax = income * 0.15
    elif business_type == 'freelance' or business_type == 'sole proprietorship':
        tax = income * 0.2
    else:
        tax = income * 0.1
    net_income = income - tax
    f'Dear {name}, your tax payable is {tax}, and your net income is {net_income}'

In [10]:
#well, it didn't break... but does it call?

In [11]:
name_in = input()

Bobby Tables

In [13]:
bt_in = input()

employee

In [15]:
income_in = int(input())

100

In [17]:
tax_calc(name_in, bt_in, income_in)

In [18]:
#something isn't right...

In [19]:
print(tax)

200.0

In [21]:
tax_calc(name_in, bt_in, income_in)

In [22]:
tax_calc("Bobby Tables", "Employee", 100)

In [25]:
#quick check on SO suggests print works better than fstrings
def tax_calc(name, business_type, income):
    if business_type == 'LLC':
        tax = income * 0.15
    elif business_type == 'freelance' or business_type == 'sole proprietorship':
        tax = income * 0.2
    else:
        tax = income * 0.1
    net_income = income - tax
    print('Dear {name}, your tax payable is {tax}, and your net income is {net_income}')
    
tax_calc("Bobby Tables", "Employee", 100)

Dear {name}, your tax payable is {tax}, and your net income is {net_income}

In [30]:
#brrrr
def tax_calc(name, business_type, income):
    if business_type == 'LLC':
        tax = income * 0.15
    elif business_type == 'freelance' or business_type == 'sole proprietorship':
        tax = income * 0.2
    else:
        tax = income * 0.1
    net_income = income - tax
    print('Dear', name, ', your tax payable is', tax, 'and your net income is', {net_income})
    
tax_calc("Bobby Tables", "Employee", 100)

Dear Bobby Tables , your tax payable is 10.0 and your net income is {90.0}

In [31]:
print(name_in, bt_in, income_in)

Bobby Tables employee 100

In [32]:
tax_calc(name_in, bt_in, income_in)

Dear Bobby Tables , your tax payable is 10.0 and your net income is {90.0}

In [68]:
#hooray!